body {
	background-color:#eee;
}

.header {
	background-color: #666;
	margin: 0;
	padding: 10px;
}

.tweet {
	background-color: #ddd;
	width: 80%;
	padding: 28px;
	margin: 10px;
	border: 1px solid #999;
	border-radius: 32px 0 0 12px;
	font-size: 1.2em;
	color: #555;
}

.toggleRefresh {
	width: 40px;
	padding: 7px 4px 5px 4px ;
	margin: 3px;
	background-color: #3BA039;
	border-radius: 6px;
	font-size: 1em;
	color: #ddd;
	text-align: center;
}

.toggleRefresh:hover {
	background-color: #aaa;
}

.off {
	background-color: #B22C0C;
}

#tweetSection {
	background-color: #eee;
	padding: 0;
	margin: 0;
}