body {
	background-color:#eee;
	background-image: url('images/3.jpg');
	background-attachment: fixed;
	margin: 0;
	padding: 0;
}

.header {
	background-image: url('images/transBlack75.png');
	margin: 0;
	padding: 10px;
}

.tweetContainer {
	height: 70px;
	width: 80%;
	margin: 3px;
	padding: 0;
	background-image: url('images/transBlack50.png');
	border: 1px solid #222;
	border-radius: 32px 0 0 12px;
	overflow: auto;
}

.at {
	padding: 3px 0 0 10px;
	height: 70px;
	width: 40px;
	background-image: url('images/transBlack50.png');
	float:left;
	color: #777;
	font-size: 2.2em;
	text-align: right;
}

.user {
	padding-left: 2px;
	height: 70px;
	width: 140px;
	background-image: url('images/transBlack50.png');
	float:left;
	color: #aaa;
	font-size: 1.2em;
	overflow: auto;
}

.user:hover {
	background-color: #444;
}

.tweet {
	padding-left: 8px;
	height: 70px;
	font-size: 1.2em;
	color: #aaa;
	float:left;
}

.toggleRefresh {
	width: 40px;
	padding: 7px 4px 5px 4px ;
	margin: 3px;
	background-color: #3BA039;
	border-radius: 6px;
	font-size: 1em;
	color: #ddd;
	text-align: center;
}

.toggleRefresh:hover {
	background-color: #3B8939;
}

.off {
	background-color: #B22C0C;
}

.off:hover {
	background-color: #952C0C;
}

.tweetSection {
	padding: 0;
	margin: 0;
}

.flex-center-vertically {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70px;
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after { clear: both; }
.clearfix {
	zoom: 1; /* IE6&7 */
}